<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>LESEHAN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form action="tampil">
            nama makanan:<b th:text="${namamakanan}"><br><br>
            jumlah :<b th:text="${jumlahporsi}"><br><br>
            harga  : <b th:text="${hargamakanan}"><br><br>
            disc   :<b th:text="${eat}"><br><br>
            total  : <b th:text="${totalmakanandiskon}"><br><br>
            </form>

        </div>
    </body>
</html>
